html, body{
    height: 100%;
    margin: 0;
    background-image: url(img/stars.gif);
    color: red;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: background-color 100ms linear;
    height: 100vh;
}

#visualizer {
    width: 100%;
    height: 500px;
    pointer-events: none;
}

.on-top {
    position: fixed;
    left: 0px;
}

.item{
    margin: auto;
}

.column {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#tokenbox {
    margin-top: 50px;
    border: 4px black solid;
    box-shadow: rgb(200, 200, 200) 0px 0px 8px 3px;
    background-color: black;
}

.tokenstack {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    padding-left: 50px;
    margin-right: -20px;
}

.tokenstack  img {
    margin-left: -50px;
    filter: grayscale();
    border-radius: 50px;
}

.token-0 {
    padding-top: 10px;
}

.token-1 {
    padding-top: 5px;
}

.glowing {
    animation: glow 2s ease-out infinite;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 10px -10px #FFD700;
    }
    50% {
      box-shadow: 0 0 10px 10px #FFD700;
    }
    100% {
        box-shadow: 0 0 10px -10px #FFD700;
    }
}

#logo {
    width:335px;
    height: 155px;
    margin-left: auto;
    margin-right: auto;
}

#start {
    width: 100px;
    height: auto;
    margin: auto;
}

.header{
    font-family: "Calibri";
    font-size: 30pt;
    margin-top: 20px;
}
#slots{
    box-shadow: rgb(200, 200, 200) 0px 0px 8px 3px;
    margin-top: 5em ;
    margin-bottom: 20px;
    border: 4px black solid;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}